.welcome-component {
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    margin-top: 7%;
    margin-left: 10%;
    width: 50%;
    text-align: left;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    box-shadow: 0 0 10px black;
    font-size: 1.1rem;
    color: white;
}

.welcome-component * {
    color: white;
    margin: 0;
}

.portrait-img {
    background-image: url('../images/header-img.webp');
    background-size: contain;
    margin-right: 11%;
    pointer-events: none;
    float: right;
    width: 24em;
    height: 24em;
    margin-top: 5em;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
} 

.welcome-component a {
    text-decoration: underline;
    text-decoration-color: #1EE6A3;
}

.welcome-component a:hover {
    text-decoration: none;
    background: #1EE6A3;
    transition: .3s;
    color: #003E60
}

.mobile-header-img {
    display: none;
}

@media screen and (max-width: 1600px) {
    .portrait-img {
        margin-right: 6%;
    }
}

@media screen and (max-width: 1360px) {
    .welcome-component {
        border-radius: 0;
        float: none;
        margin: auto;
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        width: 90%;
        box-shadow: none;
        text-shadow: 2px 2px #000;
        background: none;
    }

    .portrait-img {
        display: none;
        margin: 0;
    }

    .mobile-header-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10em;
        border-radius: 50%;
        margin-bottom: 1.5em;
        margin-top: 1.1em;
        box-shadow: 0 0 10px black;
    }
}