/*
COLORS:

dark blue: #003E60
medium blue: #1B4965
green: #1EE6A3
light blue: #5FA8D3
special gradient blue: #529DF2

*/

:root {
  --link-color: #003E60;
  --header-color: #003E60;
  --body-color: #222;
  --bg-color: #fff;
  --opposite-header-color: #1EE6A3;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Amiko-Regular';
  src: url('./fonts/Amiko-Regular.eot') format('embedded-opentype'), url('./fonts/Amiko-Regular.woff') format('woff'), url('./fonts/Amiko-Regular.ttf') format('truetype'), url('./fonts/Amiko-Regular.svg#Amiko-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MomcakeBold';
  src: url('./fonts/MomcakeBold.woff2') format('woff2'), url('./fonts/MomcakeBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App {
   background-color: var(--bg-color);
   font-family: 'Amiko-Regular' !important;
   color: var(--body-color);
}

.App-header {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: auto auto 7em;
  align-items: center;
  color: var(--opposite-header-color);
  margin-bottom: .25em;
}

.App-link {
  color: #61dafb;
}

h2 {
  font-size: 2.5em;
  margin-top: 1.5em;
  color: var(--header-color);
}

.side-margins {
  margin-left: 10%;
  margin-right: 10%;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

/* Theme Toggle Slider */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #6c6c6c;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  border-radius: 50%;
  z-index: 2;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider .icon {
  font-size: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.slider .sun {
  color: #f1c40f;
}

.slider .moon {
  color: #f1c40f;
}

@media screen and (max-width: 1280px) {
  .App-header {
    display: block;
  }

  .side-margins {
    margin-left: 5%;
    margin-right: 5%;
  }

  .theme-switch-wrapper {
    margin: 1em auto;
  }
}
@media screen and (max-width: 650px) {
  .left-align-mobile {
    text-align: left !important;
  }
}