/*
COLORS:

dark blue: #003E60
medium blue: #1B4965
green: #1EE6A3
light blue: #5FA8D3
special gradient blue: #529DF2

*/

:root {
  --link-color: #003E60;
  --header-color: #003E60;
  --body-color: #222;
  --bg-color: #fff;
  --opposite-header-color: #1EE6A3;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Amiko-Regular';
  src: url('./fonts/Amiko-Regular.eot') format('embedded-opentype'), url('./fonts/Amiko-Regular.woff') format('woff'), url('./fonts/Amiko-Regular.ttf') format('truetype'), url('./fonts/Amiko-Regular.svg#Amiko-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MomcakeBold';
  src: url('./fonts/MomcakeBold.woff2') format('woff2'), url('./fonts/MomcakeBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App {
   background-color: var(--bg-color);
   font-family: 'Amiko-Regular' !important;
   color: var(--body-color);
}

.App-header {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: auto auto 7em;
  color: var(--opposite-header-color);
  margin-bottom: .25em;
}

.App-link {
  color: #61dafb;
}

h2 {
  font-size: 2.5em;
  margin-top: 1.5em;
  color: var(--header-color);
}

.side-margins {
  margin-left: 10%;
  margin-right: 10%;
}

a {
  text-decoration: none;
  color: var(--link-color);
}